body {
    background-color: palevioletred;
    text-align: center;
}
.imagecontainer{
    
    
    justify-content: center;

    
  
}
img{
    width: 40vw;
    height: 30vh;

}
.flex{
    display: flex;
}
p {
    padding: 20px 0;
    
    margin-left: auto;
    margin-right: auto;
    
  
}





.center{
   
      justify-content: center;
    
     
}

input{
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 7vh;
    margin-bottom: 2vh;
    background-color: yellowgreen;



}

.item {
    width: 30vw;
    height: 7vh;
    margin:5px;
    background:rgb(12, 185, 56);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen   and (min-width: 480px) {
    img{
        width: 80vh;
        height: 30vh;
        
    }
    
    
}

